@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar fixed */
.navbar-fixed {
    @apply fixed z-50 backdrop-blur-xl;
}

/* Hamburger Menu */

.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-white
}

.hamburger-active > span:nth-child(1){
 @apply  rotate-45;
}

.hamburger-active > span:nth-child(2){
    @apply scale-0;
}

.hamburger-active > span:nth-child(3){
    @apply -rotate-45;
   }

/* cross */

.cross-line {
    @apply w-[30px] h-[2px] my-2 block bg-white;
}

/* buble chat */
.bubble-chat {
    @apply mt-2 w-full self-center mx-4 ring-1 ring-white/5 shadow-lg p-6 rounded-lg text-white;
}

.response-bubble {
    @apply bg-green-800;
}

.user-bubble {
    @apply  bg-neutral-700
}

.error-bubble {
    @apply bg-red-600
}

/* input login - register */
.input-field {
    @apply block p-1.5 pl-5 mt-2 w-full text-base border border-none outline-none rounded-lg bg-sky-950 text-white;
}

/* button login - register */
.button-submit {
    @apply bg-sky-950 opacity-50 max-w-full w-full mx-auto py-2 px-5 mt-7 rounded-lg text-white transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-100 duration-300 hover:opacity-100 hover:shadow-blueSea hover:text-white;
}

/* button send */
.button-send {
    @apply p-2 text-neutral-400;
}

/* feature */
.featureContainer{
    @apply grid grid-cols-2 gap-4 absolute top-60 left-1/2 -translate-x-1/2 w-full max-w-3xl ;
}

.feature {
    @apply bg-neutral-700 p-2 rounded-md;
}

.date-option {
    @apply hover:cursor-pointer my-2 hover:text-neutral-200 text-neutral-300 mx-2 p-2; 
}

.active {
    @apply bg-green-800 rounded-md;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #57534e;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

